.food {
	background: #e1ecd3;
}

.svgFood {
	margin-right: 10px;
	position: relative;
	width: 27px;
}

.footer-food-color {
	background: $foodColor;
}

.footer-food-color-dark {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		$foodColor;
}

.backgroundGourmet {
	background-image: url('~@/assets/images/food-gourmet.jpeg');
}

.backgroundGourmetDark {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('~@/assets/images/food-gourmet.jpeg');
}

.backgroundTraditional {
	background-image: url('~@/assets/images/food-traditional.jpeg');
}

.backgroundTraditionalDark {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('~@/assets/images/food-traditional.jpeg');
}

.backgroundFastFood {
	background-image: url('~@/assets/images/food-cheap.jpeg');
}

.backgroundFastFoodDark {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('~@/assets/images/food-cheap.jpeg');
}
