@import '../setup/variables';

.container-home {
	height: 785px;
	border-radius: $componentRadius;
	padding-left: $containerPadding;
	padding-right: $containerPadding;
}
.font-link {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	size: 16px;
}

b {
	font-weight: 700;
}

.description {
	text-align: left;
	margin-top: 70px;
	margin-left: 35px;
	margin-right: 35px;
	font-size: 16px;
	line-height: 160%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #1f2c41;
}

.footer a {
	color: #ffffff;
}

.footer {
	position: sticky;
	margin-top: 60px;
	bottom: 0px;
	height: 72px;
	padding: 9px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	background: #111111;
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	color: white;
}
