.summary-body {
	background: #fed6d6;
	position: relative;
	height: max-content;
}

.card-pie-chart {
	height: 160px;
	border-radius: $componentRadius;
	margin-top: 70px;
	margin-bottom: 37px;
	color: #000000;
	background-color: #ffffff;
}

#pie-chart-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pie-chart {
	width: 103px;
	height: 103px;
	margin-top: 28.5px;
	border-radius: 50%;
}

.footer-summary {
	cursor: pointer;
}
