@import '../setup/variables';
* {
	box-sizing: border-box;
}

#app {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

body {
	margin: 0;
	min-height: 100vh;
}

.container {
	// help needed
	// height: auto;
	border-radius: $componentRadius;
	padding-left: $containerPadding;
	padding-right: $containerPadding;
}

.header {
	text-align: center;
	padding-top: 113px;
	font-size: 26px;
	color: #000000;
}

.row {
	content: '';
	clear: both;
}

.row::after {
	content: '';
	clear: both;
	display: table;
}

[class*='col-'] {
	width: 100%;
	float: left;
}

.not-allowed {
	cursor: not-allowed;
}
